  @import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  @font-face {
    font-family: 'Urbanist';
    src: url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
  }

  @font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  }

  *, body, html {
    font-family: 'Urbanist';
  }
  
  .navtitle {
    font-family: 'Poppins';
  }

  @keyframes dropdown {
    0% {
      opacity: 0;
      transform: translateY(-70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-dropdown {
    animation: dropdown 0.2s ease-in-out;
    color: #ffd7d7;
  }

  ::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

  